*{
	font-family: sans-serif;
	margin-top:2 ;

}
#white {
color:white;
margin-left:24%;
}
#block {
background:#4A76A8;
height:34px;
margin-left:-9;
margin-right:-20;
margin-top:-5 ;
width:1520 ;
}
#block2 {
	border: 2px solid #E5E6EA;
margin-top:-500px;
margin-left:72%;
margin-right: 11%;
background-color:white;
border-radius: 6px;
position: absolute;
}
#but {
margin-left:35;
margin-top: 10px;
font-size-adjust:10;
background:#5181B8 ;
color: white;
font-size: 9pt;
margin-bottom:20 ;
border-radius:3px; 
border: 2px solid #5181B8;
height:30; 
width:100 ;
}
#pass{
margin-top:45px;
height:20px ;
width:150px ;
}
#a{
margin-left:20;
color: #444444;
font-size:13px;
}
#imeg{
	margin-bottom: -8;
	margin-right: 3;
	margin-top:3 ;
}
#rec{
	margin-left: 20;
	margin-bottom: -5;
}
#log{
	margin-left:45px;
	margin-top:23px ;
}
#recap{
	margin-left: 25px;
	margin-top: 19;
}
#passw{
	margin-left:45px ;
	margin-bottom: 10px;
}
#p1{
	border:1px solid #ADADAD;
	border-radius: 1px;
	width:200;
	height: 50;
	margin-left:25 ;
	margin-right: 25;
	margin-top: 50;
	background:#F5F5F5 ;

}
#fprint{
	border:3px solid #4A76A8;
	width:200;
	margin-top: 10;
	margin-left:300;
	width:700;
	height:500;
	border-radius:10px ;
}
#but2{
	border :2px solid #4A76A8;
    float:right ;
    background:#4A76A8 ;
    color:white ;
    margin-top:-35 ;
    margin-right:300;
}
#print{
	border-radius:3 ;
	margin-top: 0;
}
#cber{
	border:2px solid #EDEEF0;
	width:500;
	margin-left:430 ;
	margin-top:100 ;
	font-size:20 ;
	height:150 ;
}
#tect{
	margin-left:80;
}
#text{
	font-size: 15;
	color:#626D7A;
	margin-top:47;
}
#acc{
	margin-left:170;
}
@media screen and (max-width: 1440px) {
	#block{
		width :1440;
	}
	#print{
	width :700;
    height: 500;
	}
	#fprint {
		width:700 ;
		height:500;
		margin-left:100;
	}
	#block2{
		margin-top:-500;
	}
	#cber{
		margin-left:300;
	}
}
@media screen and (max-width: 1024px) {
	#block{
		width: 1024;
	}
	#fprint{
		width:600 ;
        height: 400;
        margin-left: 50;
	}
	#print{
		width:600;
		height:400;
	}
	#block2{
		margin-top:-400;
	}
	#but2{
		margin-right:150;
	}

}
